node-red-dashboard/node-red-flow.json
[{"id":"9a4b3ffd.e945","type":"http request","z":"aa930d2e.81b84","name":"Read Data","method":"GET","ret":"txt","url":"https://api.relayr.io/devices/<YOUR_DEVICE_ID>/readings","tls":"","x":338.09516525268555,"y":443.0000305175781,"wires":[["1b511554.33ff6b"]]},{"id":"817df9f5.c2a198","type":"function","z":"aa930d2e.81b84","name":"Headers","func":"msg.headers = {\n         \"Cache-Control\": \"no-cache\",\n         \"Authorization\": \"Bearer <YOUR_TOKEN>\" \n     }\n     return msg;","outputs":1,"noerr":0,"x":223.09515380859375,"y":331.9999899864197,"wires":[["9a4b3ffd.e945"]]},{"id":"4796093f.457348","type":"inject","z":"aa930d2e.81b84","name":"Polling Rate","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":119.7618179321289,"y":464.9999990463257,"wires":[["817df9f5.c2a198"]]},{"id":"1f1cb92e.40eb07","type":"debug","z":"aa930d2e.81b84","name":"Debug","active":true,"console":"false","complete":"payload","x":895.5951194763184,"y":471.6667022705078,"wires":[]},{"id":"e19f63f4.fc51","type":"function","z":"aa930d2e.81b84","name":"Extract Data","func":"\nmsg.payload = JSON.stringify(msg.payload.readings[0].value);\n return msg;","outputs":1,"noerr":0,"x":581.5951538085938,"y":408.9999899864197,"wires":[["1f1cb92e.40eb07","f53eea79.5a4878","cffd71df.3beed","6cac73ed.a3934c"]]},{"id":"1b511554.33ff6b","type":"json","z":"aa930d2e.81b84","name":"JSON Parser","x":451.09515380859375,"y":349.9999899864197,"wires":[["e19f63f4.fc51"]]},{"id":"f53eea79.5a4878","type":"ui_gauge","z":"aa930d2e.81b84","tab":"2d5d7ff1.13b32","name":"Noise Level","group":"Real-time Data","order":1,"format":"{{value}}","min":0,"max":"600","x":642.7618980407715,"y":239.9999804496765,"wires":[]},{"id":"cffd71df.3beed","type":"ui_chart","z":"aa930d2e.81b84","tab":"2d5d7ff1.13b32","name":"Historical Data","group":"Historical Data","order":1,"interpolate":"linear","nodata":"No Data","removeOlder":1,"removeOlderUnit":"86400","x":692.4284515380859,"y":545.333381652832,"wires":[[],[]]},{"id":"33f1b68f.3324aa","type":"ui_toast","z":"aa930d2e.81b84","name":"\"Silence Please!\" Message","x":929.1188049316406,"y":288.6448440551758,"wires":[]},{"id":"6cac73ed.a3934c","type":"function","z":"aa930d2e.81b84","name":"Trigger Message","func":"if (msg.payload > 300)\n{\n    msg.payload = \"静かにしてください \\xa0 \\xa0 \\xa0 BITTE RUHE!\";\n    return msg;\n}","outputs":1,"noerr":0,"x":791.277961730957,"y":354.4014835357666,"wires":[["33f1b68f.3324aa"]]},{"id":"2d5d7ff1.13b32","type":"ui_tab","z":"","name":"RAILAX Monitoring System | | | Silence is golden. And in the train, it's platinum!","icon":"Dashboard","order":"1"}]